@import url('https://fonts.cdnfonts.com/css/allerta-stencil');

.logo-text {
    font-family: 'Allerta Stencil';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 40px;
} 

.logo-text > p::first-letter {
    color: #A18A68;
}
